@keyframes hero-word-animation {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hero-img-animation {
  from {
    opacity: 0;
    clip-path: inset(50% round 15%);
  }

  to {
    clip-path: inset(0% round 0%);
    opacity: 1;
  }
}

@keyframes hero-arrow-animation {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(450px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}

//______________________

.js-scroll,
.unactive-sentence {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled {

  &.fade-in {
    animation: fade-in 1.8s ease .8s both;
  }

  &.fade-in-bottom {
    animation: fade-in-bottom .8s ease-out both;
  }

  &.fade-in-left {
    animation: fade-in-left .8s ease-out both;
  }

  /*   &.faded-word {
    display: inline-block;
    transform: translateY(65%);
    opacity: 0;
  }

  &.faded-activated {
    transition: opacity .3s, transform .4s, color 2s .4s;
    opacity: 1;
    transform: translateY(0);
  } */

}

.faded-word {
  display: inline-block;
  transform: translateY(25%);
  opacity: 0;
}

.faded-activated {
  transition: opacity .2s, transform .3s;
  opacity: 1;
  transform: translateY(0);
}

.faded-right-word {
  display: inline-block;
  transform: translateX(-65%);
  opacity: 0;
}
