/* Error: expected "{".
 *     ,
 * 499 |                     text-align: left;
 *     |                                     ^
 *     '
 *   scss\styles.scss 499:37  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 499 \2502                      text-align: left;\d\a     \2502                                      ^\a     \2575 \a   scss\\styles.scss 499:37  root stylesheet';
}
